#loginPage,#signupPage{
	-fx-background-color:linear-gradient(#fdc830,#f37335);
}

#loginBox{
	-fx-background-color:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
	-fx-background-radius:10px;

}

#loginButton, #logoutButton{
	-fx-background-color:linear-gradient(to top,#fdc830,#ffffff);
	-fx-background-radius:20px;
}

#studentHomepage,#studentEditProfile,#teacherHomepage,#studentAppointments,#studentRefunds,#studentPrescription,#commonDiseasesInfo,#studentMakeAppointment,#studentTeacherConnection,#studentMedicalRecords,#doctorHomepage,#doctorEditProfile,#teacherEditProfile,#teacherYellowSlips
{
	-fx-background-color:linear-gradient(#fdc830,#f37335);
}

#navButton {
	-fx-border-color: white;
	-fx-opacity: 50%;
	-fx-border-radius: 20px;
}

#navButtonCurrentPage {
	-fx-background-color: white;
	-fx-background-radius: 20px;
	-fx-text-fill: black;
}

#acceptButton{
	-fx-background-color: mediumseagreen;
	-fx-background-radius: 20px;
	-fx-text-fill: white;
}

#rejectButton{
	-fx-background-color: orangered;
	-fx-background-radius: 20px;
	-fx-text-fill: white;
}